body{
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://www.wallpaperflare.com/search?wallpaper=4k");
    height: 100vh;
    margin: -20px 0 50px;
}
.outer-shadow {
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    box-shadow: var(--inner-shadow);
}
